<div id="<%= dom_id thaught %>">
  <p>
    <strong>Thaught text:</strong>
    <%= thaught.thaught_text %>
  </p>

  <p>
    <strong>User:</strong>
    <%= thaught.user_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= thaught.question_id %>
  </p>

</div>
